body {
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.custom-file-upload {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.hidden-file-input {
  display: none; /* Esconde o input padrão */
}

.file-button {
  display: block;
  width: 100%;
  height: 60px;
  border: 3px solid #2a6b2a; /* Mesma borda dos outros inputs */
  border-radius: 35px;
  background-color: #f5e9d5; /* bg-secondary-beige */
  color: #f1c40f; /* text-accent-gold */
  font-size: 1.75rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
  line-height: 54px; /* Centraliza verticalmente */
  transition: opacity 0.3s ease;
}

.file-button:hover {
  opacity: 0.9;
}

.login-container {
  width: 67.5%;
  max-width: 1034px;
  height: auto;
  background: #709A7C;
  border-radius: 22.5px;
  padding: 30px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.375rem;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 1.875rem;
  color: #5B5B5B;
  text-align: center;
  margin-bottom: 45px;
  font-weight: 300;
}

.form-group {
  width: 100%;
  max-width: 390.75px;
  height: auto;
  margin-bottom: 30px;
  color: #E2AC59;
}

.form-group input {
  width: 100%;
  height: 45px; /* Ajustar a altura dos inputs */
  border: 2.25px solid #709A7C;
  border-radius: 26.25px;
  font-size: 1.3125rem;
  padding: 0 22.5px;
  color: #E2AC59; 
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: #F8EEE3;
}

.form-group input::placeholder {
  color: #E2AC59;
}

.form-group input[type="file"] {
  width: 100%;
  max-width: 390.75px;
  height: 45px;
  border: 2.25px solid #709A7C;
  border-radius: 26.25px;
  font-size: 1.3125rem;
  padding: 0 22.5px;
  color: #E2AC59;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.form-group input[type="file"]::before {
  content: 'Escolher arquivo';
  display: inline-block;
  background: #709A7C;
  background-size: cover;
  color: white;
  border: 1.5px solid white;
  border-radius: 26.25px;
  font-size: 1.3125rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 45px;
}

.form-group input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.login-button {
  width: 100%;
  max-width: 251.25px;
  height: auto;
  background: #92AA94;
  color: white;
  border: none;
  border-radius: 26.25px;
  font-size: 1.3125rem;
  cursor: pointer;
  padding: 11.25px;
}

.register-button {
  width: 100%;
  max-width: 411.75px;
  height: auto;
  background: #A35636;
  color: #FFFFFF;
  border: none;
  border-radius: 26.25px;
  font-size: 1.3125rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11.25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form .form-group {
  margin-bottom: 30px;
}

.image-upload {
  display: flex;
  align-items: center;
  gap: 15px;
}

.image-preview {
  width: 330px;
  height: 165px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  border: 2.25px solid #709A7C;
  border-radius: 50%;
}

.form-group input #image{
  width: 100%;
}

@media (max-width: 768px) {
  .login-container {
    padding: 15px;
  }

  h1 {
    font-size: 2.625rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .form-group input {
    font-size: 1.125rem;
    height: 37.5px; 
  }

  .login-button {
    font-size: 1.125rem;
  }

  .register-button {
    font-size: 1.125rem;
  }
}

@media (max-width: 605px) {
  .login-container {
    width: 90%;
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .form-group input {
    font-size: 1rem;
    height: 30px;
  }

  .form-group input[type="file"]::before {
    font-size: 1rem;
    line-height: 30px;
  }

  .login-button {
    font-size: 1rem;
    padding: 10px;
  }

  .register-button {
    font-size: 1rem;
    padding: 10px;
  }

  .image-preview {
    width: 160px;
    height: 90px;
    border-radius: 50%;
  }
}
